<mat-card class="example-card-header">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>São Paulo</mat-card-title>
    <mat-card-subtitle>São Paulo</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore sit libero distinctio quod repudiandae cumque sapiente corporis ad deserunt accusantium sequi odit assumenda in mollitia tempore, animi qui deleniti eligendi.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio ex aliquam culpa tempora, voluptate quaerat officia, amet eius, molestiae facere harum. Quo quaerat quam quia beatae, quisquam perspiciatis iure dolor.
    </p>
  </mat-card-content>

</mat-card>

<h4 class="title-home">Nossos Quartos</h4>



<div class="grid">

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Brasilia</mat-card-title>
      <mat-card-subtitle>Brasilia</mat-card-subtitle>
    </mat-card-header>
    <figure class="snip0015">
      <img src="assets/img/img4.jpg" alt="sample38"/>
      <figcaption>
        <h2>Cliente: <span>Lurdes</span> </h2>
        <p>Quarto execelente, com vista para o centro e muitas outras coisas</p>
        <a href="#"></a>
      </figcaption>
    </figure>
    <mat-card-content>
      <p>
        Quarto brasilia
      </p>
    </mat-card-content>

  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Rio de Janeiro</mat-card-title>
      <mat-card-subtitle>Rio de Janeiro</mat-card-subtitle>
    </mat-card-header>
    <figure class="snip0015">
      <img src="assets/img/img4.jpg" alt="sample38"/>
      <figcaption>
        <h2>lorem <span>lorem</span> lorem</h2>
        <p>comentario aleatorio de algum cliente</p>
        <a href="#"></a>
      </figcaption>
    </figure>
    <mat-card-content>
      <p>
        The Hotel is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Hotel was originally
        bred for hunting.
      </p>
    </mat-card-content>

  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>São Paulo</mat-card-title>
      <mat-card-subtitle>São Paulo</mat-card-subtitle>
    </mat-card-header>
    <figure class="snip0015">
      <img src="assets/img/img4.jpg" alt="sample38"/>
      <figcaption>
        <h2>lorem <span>lorem</span> lorem</h2>
        <p>comentario aleatorio de algum cliente</p>
        <a href="#"></a>
      </figcaption>
    </figure>
    <mat-card-content>
      <p>
        The Hotel is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Hotel was originally
        bred for hunting.
      </p>
    </mat-card-content>

  </mat-card>



</div>

<router-outlet></router-outlet>
